# vitepress files
docs/.vitepress/dist/
docs/.vitepress/cache
.nojekyll

# Node modules
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# Typescript build info
*.tsbuildinfo

#webgpu
/webgpu/**/index.html
/webgpu/**/index.pre.html
/webgpu/**/*.idl
/.idea/.idea.orillusion-web-dev.dir/.idea/.gitignore
/.idea/.idea.orillusion-web-dev.dir/.idea/indexLayout.xml
/.idea/.idea.orillusion-web-dev.dir/.idea/vcs.xml
